{% extends 'auth.html.twig' %}
{% block form %}
{% if error is defined %}
<div class="error bg-light text-dark text-center">{{error}}</div>
{% endif %}
{{ parent() }}
    <form action="./login" method="post" class="text-dark">
        <div class="form-group">
          <label for="name">用户名</label>
          <input type="text" class="form-control" name="name" id="name" aria-describedby="helpId" placeholder="">
          {# <small id="helpId" class="form-text text-muted">Help text</small> #}
        </div>
        <div class="form-group">
          <label for="pw">密码</label>
          <input type="password" class="form-control" name="password" id="pw" placeholder="password">
        </div>
        <div class="form-group text-center">
           <input id='login' type="submit" class=" disabled btn-submit py-1 text-light" value='登陆'>
        </div>
    </form>
   
{% endblock %}

{% block javascripts %}
{{parent()}}
{{ encore_entry_script_tags("login")}}
{% endblock %}